.meditation__list {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  overflow: hidden;
  counter-reset: count;
}

.meditation__item {
  counter-increment: count;

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
}

.meditation__text {
  font-size: 14px;
  line-height: 1.5;
  color: $blue-dark;

  &::before {
    font-family: $roboto;
    content: counter(count) '.';
  }

  b {
    color: $blue;
  }
}
