.mood-stats {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  overflow: hidden;
}

.mood-stat {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  color: $blue-dark;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  &__inner {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    margin-right: 10px;

    &--other {
      flex-direction: column;
      text-align: center;

      .mood-stat__assessment {
        margin: 0;
      }

      .mood-stat__title {
        font-weight: normal;
      }
    }
  }

  &__time {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    font-size: 10px;
    font-weight: normal;
    font-weight: bold;
    line-height: 1.2;

    &::before {
      display: block;
      width: 16px;
      min-width: 16px;
      height: 16px;
      min-height: 16px;
      margin-top: -2px;
      margin-right: 5px;
      content: '';
      background-image: url(../img/time2-dark.svg);
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0.1;
    }
  }

  &__assessment {
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    padding: 5px;
    margin: 0 12px 0 0;
    background-color: $gray;
    border-radius: 50%;

    &--red {
      background-color: $red;
    }
    &--orange {
      background-color: $orange;
    }
    &--yellow {
      background-color: $yellow;
    }
    &--yellow-orange {
      background-color: $yellow-orange;
    }
    &--yellow-green {
      background-color: $green-yellow;
    }
    &--green {
      background-color: $green;
    }

    .svg {
      width: 24px;
      height: 24px;
      fill: $white;
    }
  }

  &__title {
    flex-grow: 1;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
  }

  &__tasks-wrapper {
    display: inline-flex;
    align-items: center;
  }

  &__tasks {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 -2px;
  }

  &__task {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    padding: 5px;
    margin: 2px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(154, 167, 175, 0.2);
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $blue-dark;
  }
}
