.reg-section {
  position: relative;
  z-index: 1;
  display: flex;
  min-height: calc(100vh - 70px);
  overflow: hidden;
  background-image: url(../img/reg_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &:first-of-type {
    padding-top: 20px;
  }
}

.reg-wrap {
  display: flex;
  height: 100%;
}

.reg-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;

  .section-title {
    margin: 0 0 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    b {
      color: $blue;
    }
  }
}

.reg-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .input-wrapper,
  .textarea,
  .button {
    width: 100%;
    margin: 10px 0;
  }

  &__link {
    margin: 15px auto 0;
    font-family: $roboto-slab;
    font-size: 14px;
    font-weight: bold;
    color: $blue-dark;
    text-decoration: underline;
  }

  &__text {
    margin-top: auto;
    font-size: 10px;
    line-height: 1.5;
    color: $gray;
    text-align: center;

    a {
      color: $blue-dark;
    }
  }
}
