.settings-section {
  display: flex;
  // min-height: $screen-height;
  padding-top: 60px;
}

.settings-wrap {
  height: 100%;

  .water-form {
    margin: auto 0;
  }
}

.settings {
  display: flex;
  flex-direction: column;
  height: 100%;

  .buttons {
    margin: 20px 0 0;
  }

  .exercises-video-wrapper {
    margin: auto 0;
  }
}

.settings-radios {
  display: flex;
  flex-direction: column;
  margin-top: 5px;

  .radio {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
