* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  padding-bottom: 70px;
}

.without-navbar {
  padding-bottom: 0;

  .reg-section {
    min-height: 100vh;
  }
}

main {
  min-height: calc(100vh - 160px);

  &.bg {
    padding-bottom: 110px;
    background-image: url(../img/body_png.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
  }
}

.container {
  width: 100%;
  max-width: $container-max-width;
  padding: $container-padding;
  margin: 0 auto;

  @include max-width(360px) {
    padding: 0 10px;
  }
}

section {
  padding: $section-padding-phone;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 20px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

.link {
  display: inline-flex;
  align-items: center;
  font-family: $roboto-slab;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
  color: $gray;
  transition: color 0.3s;

  &:hover {
    color: $blue;
  }

  .link__arrow {
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    stroke: currentColor;
    transform: rotate(90deg);
  }
}

.j_locked {
  position: relative;
}

.locked-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba($color: $white, $alpha: 0.9);

  &__wrap {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    max-width: 340px;
  }

  &__text {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;

    a {
      color: $blue;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
