.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.4s;

  &::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
  }

  &.active {
    visibility: visible;
    opacity: 1;
    .modal {
      opacity: 1;
      transform: scale(1);
    }
  }
  .modal {
    position: relative;
    z-index: 11;
    display: inline-block;
    width: 100%;
    max-width: 480px;
    padding: 20px 15px;
    font-size: 1rem;
    text-align: center;
    white-space: normal;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.4s, transform 0.4s;
    transform: scale(0.5) translateY(100%);

    &--small {
      max-width: 420px;

      .modal-wrap {
        width: 100%;
        max-width: 270px;
        margin: 0 auto;
      }
    }
    &--medium {
      max-width: 600px;
    }
    &--large {
      max-width: 1070px;
    }
    &--no-padding {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.hamburger {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  min-width: 25px;
  height: 25px;
  min-height: 25px;
  padding: 0;
  margin: 0 0 0 5px;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  appearance: none;

  &:active {
    .hamburger__icon {
      fill: $blue;
    }
  }

  &__icon {
    display: block;
    width: 100%;
    height: 100%;
    fill: $blue-dark;
    transition: fill 0.3s;
  }
}

.modal {
  .hamburger {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-flex;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
  }

  .input,
  .textarea {
    padding: 0.858em 1.43em;
  }

  .button {
    margin: 20px 0 0;
  }
}

.modal-title {
  padding-right: 50px;
  color: $blue-dark;
  text-align: left;
}

.modal-wrap {
  text-align: left;

  .meditation__list {
    .meditation__text {
      width: auto;
      min-width: auto;
    }
  }

  .aside__info {
    max-width: 100%;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 20px 0 0;

  .input,
  .textarea {
    width: 100%;
    margin: 5px 0;
  }

  .button {
    width: 100%;
    margin: 10px 0 0;
  }

  br {
    display: none;
  }
}

// .modal-instruction {
//   .modal {
//     @include min-width($touch + 1px) {
//       padding: 60px 40px 40px 60px;
//     }
//   }
// }

.modal-feeling {
  padding: 0;

  .modal {
    padding-top: 20px;
    padding-bottom: 0;
    background: linear-gradient(180deg, #e4eff4 0%, rgba(228, 239, 244, 0) 100%),
      #fff;
    border-radius: 0;
  }

  .modal-title {
    padding: 0 40px 0 20px;
    font-family: $roboto-slab;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }
}

.modal__back {
  display: inline-flex;
  align-items: center;
  margin: 0 0 25px 20px;
  font-size: 14px;
  color: $gray;

  .svg {
    display: block;
    width: 12px;
    min-width: 12px;
    height: 12px;
    min-height: 12px;
    margin-right: 5px;
    stroke: currentColor;
    transform: rotate(90deg);
  }
}

.modal-feeling-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.modal-feeling-col {
  flex-grow: 1;
  width: 50%;
  margin: 5px 0;

  $col: &;

  &--red {
    #{$col}__title {
      color: $red;
    }

    .checkbox-feel {
      .checkbox__input {
        &:checked + .checkbox__custom {
          background-color: $pale-red;
        }
      }
    }
  }
  &--blue-light {
    #{$col}__title {
      color: $blue-light;
    }

    .checkbox-feel {
      .checkbox__input {
        &:checked + .checkbox__custom {
          background-color: $pale-blue;
        }
      }
    }
  }
  &--blue {
    #{$col}__title {
      color: $blue;
    }

    .checkbox-feel {
      .checkbox__input {
        &:checked + .checkbox__custom {
          background-color: $pale-blue-light;
        }
      }
    }
  }
  &--yellow {
    #{$col}__title {
      color: $yellow;
    }

    .checkbox-feel {
      .checkbox__input {
        &:checked + .checkbox__custom {
          background-color: $pale-yellow;
        }
      }
    }
  }
  &--purple {
    #{$col}__title {
      color: $purple;
    }

    .checkbox-feel {
      .checkbox__input {
        &:checked + .checkbox__custom {
          background-color: $pale-purple;
        }
      }
    }
  }
  &--gray {
    width: 50%;

    #{$col}__title {
      color: $blue-dark;
      text-align: center;
      background-color: rgba($color: $gray-light, $alpha: 0.5);

      @include max-width(700px) {
        display: none;
      }

      &.on-mobile {
        display: none;

        @include max-width(700px) {
          display: block;
          text-align: left;
          background-color: rgba($color: $white, $alpha: 0.5);
        }
      }
    }

    #{$col}__wrap {
      flex-direction: row;
      flex-wrap: wrap;
    }

    #{$col}__item {
      width: 20%;

      @include max-width(700px) {
        width: 100%;
      }
    }

    .checkbox-feel {
      .checkbox__input {
        &:checked + .checkbox__custom {
          background-color: rgba($color: $gray-light, $alpha: 0.5);
        }
      }
    }
  }

  &__title {
    display: block;
    padding: 10px 20px;
    font-family: $roboto-slab;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgba($color: $white, $alpha: 0.5);
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
  }

  &__item {
    padding: 0 0 0 5px;
  }
}

.modal__footer {
  padding: 30px 20px;
  background-color: $gray-light;
}

.modal-buttons {
  display: flex;

  .button {
    flex-grow: 1;
    margin: 0;
  }
}

.modal-training {
  .modal {
    max-width: 790px;
    padding: 40px 25px;
  }

  .logo {
    margin: 0 0 50px;
  }
}

.modal-train-slider-wrapper {
  text-align: center;
}

.modal-train-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0;

  .swiper-pagination-bullet {
    width: 12px;
    min-width: 12px;
    height: 12px;
    min-height: 12px;
    background-color: $gray;
    outline: none;
    opacity: 0.5;

    &:not(:last-of-type) {
      margin-right: 10px;
    }

    &.swiper-pagination-bullet-active {
      background-color: $blue;
      opacity: 1;
    }
  }
}

.modal-train-slide {
  .modal-title {
    margin: 0 0 25px;
    text-align: center;
  }

  .checkbox {
    margin: 25px 0 0;
    text-align: left;
  }
}

.modal-train__text {
  margin: 0 0 25px;
  font-size: 14px;
  line-height: 1.6;
  color: $blue-dark;
}

.modal-train__subtext {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: $blue-dark;
}

.modal-train-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
  margin: 30px 0 0;

  .button {
    width: 100%;
    min-width: auto;
    max-width: 270px;
    margin: 0;
    letter-spacing: 0.4px;

    &.hidden {
      display: none;
    }
  }

  .modal-train__link {
    width: auto;
    min-width: auto;
    max-width: none;
    padding: 0;
    margin-top: 20px;
    color: $gray;
  }
}

.modal-animal {
  padding: 0;
  background: $gr-body;
  border-radius: 0;

  .modal {
    max-width: none;
    min-height: 100%;
    padding: 20px;
    background-color: transparent;

    @include max-width($phone-sm) {
      padding: 20px 15px;
    }

    .modal-wrap {
      display: flex;
      flex-direction: column;
      max-width: none;

      &.active {
        .button-arrow {
          display: none;
        }

        .modal-animal-slide__img-wrapper {
          max-width: 240px;
          height: 290px;
          min-height: 290px;

          @include max-width($phone-sm) {
            max-width: 200px;
            height: 230px;
            min-height: 230px;
          }
        }

        .modal-animal-slide__desc {
          display: none;
        }

        .modal-animal-bottom {
          > .button-gradient {
            display: none;
          }
        }

        .modal-animal-bottom__wrap {
          display: flex;
        }
      }
    }
  }

  .modal-title {
    padding: 0;
    text-align: center;
  }
}

.modal-animal-slider-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
  margin-top: 20px;

  .button-arrow {
    position: absolute;
    top: 100px;
    z-index: 3;
    width: 26px;
    min-width: 26px;
    height: 26px;
    min-height: 26px;
    padding: 0;

    &--prev {
      right: auto;
      left: 0;
    }

    &--next {
      right: 0;
      left: auto;
    }

    .svg {
      width: 100%;
      height: 100%;
    }
  }
}

.modal-animal-slider {
  height: 100%;
}

.modal-animal-slide {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    display: block;
    margin: 0 0 30px;
    font-family: $roboto-slab;
    font-weight: bold;
    color: $blue-dark;
    text-align: center;
  }

  &__img-wrapper {
    position: relative;
    width: 100%;
    max-width: 180px;
    height: 200px;
    min-height: 200px;
  }

  &__img-wrap {
    width: 100%;
    height: 100%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0s;
    transform: scale(0);
    object-fit: contain;

    &.active {
      opacity: 1;
      transition: 0.5s ease;
      transform: scale(1);
    }
  }

  &__controls {
    width: 100%;
    padding: 0 20px;

    @include max-width($phone-sm) {
      padding: 0;
    }
  }

  .mood-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;

    @include max-width($phone-sm) {
      margin-top: 20px;
    }
  }

  .radio-mood {
    // margin: 8px;

    .radio__input:not(:checked) + .radio__custom {
      background-color: $gray;
      border-color: $gray;
      opacity: 0.5;
    }

    .radio__custom {
      width: 32px;
      min-width: 32px;
      height: 32px;
      min-height: 32px;
    }

    .radio__icon {
      width: 18px;
      height: 18px;
    }
  }

  &__bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 30px;
    border-top: 1px solid rgba($gray, 0.2);

    @include max-width($phone-sm) {
      margin-top: 10px;
    }

    > .button {
      width: 100%;
      margin: 0;
    }
  }

  &__desc {
    flex-grow: 1;
    padding: 20px;

    @include max-width($phone-sm) {
      padding: 10px 0;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
  }
}

.modal-animal-bottom {
  display: flex;
  flex-direction: column;

  &__wrap {
    display: flex;
    display: none;
    flex-direction: column;
  }

  .input-wrapper {
    margin: 0;
  }
}

.modal-meditation {
  padding: 0;
  overflow: hidden;

  .modal {
    position: relative;
    max-width: none;
    height: 100%;
    padding: 20px 20px 30px;
    border-radius: 0;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      visibility: hidden;
      content: '';
      background: linear-gradient(89.95deg, #217bfc 0.02%, #31cae4 111.05%),
        linear-gradient(90deg, #23a3cf 0%, #25d4ca 102.44%);
      opacity: 0;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    &.locked {
      &::before {
        visibility: visible;
        opacity: 0.8;
      }

      .modal-header {
        opacity: 0;
      }

      .meditation-buttons {
        .button-play {
          display: none;

          &.j_unlock {
            display: inline-flex;
          }
        }
      }

      .player-wrapper {
        opacity: 0;
        transform: translateY(100%);
      }
    }

    &.is-landscape {
      padding: 20px 20px 10px;

      .timer-time-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
      }

      .meditation-timer-time {
        width: 100%;
        max-width: 100%;
      }

      .meditation-music {
        margin-top: auto;
        margin-right: 40px;
        margin-bottom: 0;
      }

      .player-wrapper {
        flex-grow: 1;
        width: auto;
        margin-top: auto;
      }

      .player-times {
        margin-top: 10px;
      }
    }

    .modal-wrap {
      display: flex;
      flex-direction: column;
      max-width: none;
      height: 100%;
    }
  }

  .modal-header {
    color: $white;
    transition: opacity 0.3s ease;
  }

  .modal-body {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .timer-wrap {
    width: 100%;
  }

  .meditation-timer-time {
    position: relative;
    z-index: 2;
    padding: 0;
    margin-top: auto;
    color: $white;
  }

  .timer-time-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .meditation-buttons {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;

    .button-play {
      margin: 7px;

      &.j_unlock {
        display: none;
      }
    }
  }
}

.modal__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.player-wrapper {
  width: 100%;
  margin-top: auto;
  transition: opacity 0.3s ease, transform 0.3s ease;

  .plyr__controls {
    padding: 0;
    background: transparent;

    .plyr__time {
      &--current {
        display: none;
      }
    }

    input[type='range'] {
      color: $white;

      &::-webkit-slider-thumb {
        width: 26px;
        height: 26px;
        margin-top: -10px;
      }

      &::-webkit-slider-runnable-track {
        height: 6px;
      }
    }
  }
}

.player-times {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -2px;
  font-family: $roboto;
  font-size: 12px;
  font-weight: bold;
  color: $white;
  letter-spacing: 0.5px;
}

.modal-mood {
  overflow: auto;
  overflow-x: hidden;

  .modal {
    height: auto;
    min-height: 100%;
    background: $gr-body;
  }

  .modal-body {
    display: flex;
    flex-direction: column;

    &.completed {
      .mood-wrap {
        display: none;
      }

      .mood-completed {
        display: block;
        margin-bottom: 20px;
      }

      .button--gray {
        display: none;
      }

      .button-gradient {
        display: inline-flex;
      }
    }

    > .buttons {
      margin-top: auto;
    }

    .button-gradient {
      display: none;
    }
  }

  .mood-wrap {
    margin-top: auto;

    .mood__text {
      display: block;
      margin: 0 0 25px;
      font-family: $roboto-slab;
      font-size: 16px;
      line-height: 1.4;
    }

    .radio-mood {
      @include max-width($phone-sm) {
        margin: 3px;
      }
    }
  }

  .mood-completed {
    display: none;
  }

  .modal-header {
    color: $blue-dark;

    .header__title {
      color: $blue-dark;
    }
  }
}

.mood-completed {
  &__title {
    display: block;
    margin: 40px 0 15px;
    font-size: 16px;
    font-weight: bold;
    color: $blue;

    @include max-width($phone-sm) {
      margin: 25px 0 15px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.6;
    color: $blue-dark;

    b {
      color: $blue;
    }
  }

  &__img-wrapper {
    width: 100%;
    max-width: 200px;
    height: auto;
    max-height: 220px;
    margin: 50px auto 0;

    @include max-width($phone-sm) {
      margin: 30px auto 0;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
  }
}

.modal-video {
  .modal-header {
    position: relative;
    z-index: 2;
  }

  .meditation-timer-time {
    display: none;
  }

  .meditation-music {
    margin-top: auto;
  }

  .player-wrapper {
    margin: 0;
  }

  .plyr {
    position: static;
    overflow: unset;

    .plyr__controls {
      position: static;
      width: 100%;
    }

    .plyr__video-wrapper {
      position: absolute;
      top: 0;
      left: 0;
    }

    .player {
      object-fit: cover;
    }

    .plyr__poster {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.modal-hobby {
  .modal {
    &.locked {
      .meditation-buttons {
        .button-play {
          &:not(.hidden) {
            display: inline-flex;
          }

          &.j_unlock {
            display: none;
          }
        }
      }
    }
  }

  .meditation-music {
    margin-bottom: auto;
  }
}

.modal-mood-animal {
  background-color: $white;

  .modal {
    padding: 0;
    background: linear-gradient(
      180deg,
      #e4eff4 0%,
      rgba(228, 239, 244, 0) 100%
    );
  }

  .modal-wrap {
    justify-content: flex-end;
    padding: 20px;
    background-color: transparent;
    background-image: url(../img/reg_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.mood-animal {
  .greeting__item {
    display: block;
    margin-bottom: 30px;
  }

  &__name {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
  }

  &__img {
    display: block;
    width: 100%;
    max-width: 240px;
    height: auto;
    max-height: 320px;
    object-fit: contain;
    margin: auto;
  }

  .button-gradient {
    width: 100%;
    margin: 20px 0 0;
  }
}

.modal-task {
  .modal {
    padding: 25px 25px 15px;
    border-radius: 40px;

    &.modal--small {
      .modal-wrap {
        max-width: none;
      }
    }
  }
}

.modal__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;

  .hamburger {
    position: static;
    margin: 0 0 0 20px;
  }
}

.modal-task-info {
  display: inline-flex;
  align-items: center;

  &__img {
    display: block;
    width: 36px;
    min-width: 36px;
    height: 36px;
    min-height: 36px;
    margin-right: 20px;
  }

  &__title {
    display: block;
    font-size: 14px;
    font-weight: bold;
  }

  &__text {
    font-family: $roboto-slab;
    font-size: 12px;
    font-weight: normal;
  }
}

.modal__text {
  font-size: 12px;
  line-height: 1.5;
}

.modal__buttons {
  .button {
    width: 100%;
    margin: 10px 0 0;
  }
}

.modal__subtitle {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}
