/* Buttons */
button {
  cursor: pointer;
}
.button {
  $color: $blue;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: $button-min-width;
  padding: $button-padding-sm;
  margin: $button-margin;
  font-family: $button-font;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: $button-line-height;
  color: $white;
  text-align: center;
  cursor: pointer;
  background-color: $color;
  border-color: $color;
  border-style: solid;
  border-width: 1px;
  border-radius: $button-border-radius;
  outline: transparent;
  box-shadow: none;
  transition: color 0.3s, background-color 0.3s, border 0.3s, box-shadow 0.3s;
  transition-timing-function: ease;

  &.button--invert {
    color: $color;
    background-color: transparent;
    border-color: $color;
  }

  svg {
    display: block;
    width: 14px;
    min-width: 14px;
    height: 14px;
    min-height: 14px;
    margin-right: 8px;
    fill: currentColor;
    transition: fill 0.3s, transform 0.3s;
  }

  &:disabled {
    color: $white;
    cursor: default;
    background-color: $gray;
    border-color: $gray;
  }

  &--big {
    min-width: 220px;
    padding: 1.4295em 2em;
    border-radius: 30px;
  }

  &--gradient {
    background: linear-gradient(180deg, #29bddc 0%, #38d4ea 100%);
    border-color: transparent;
    box-shadow: 0 20px 20px rgba($color: $blue, $alpha: 0.2);
  }

  &--not-button {
    color: $blue-dark;
    background-color: transparent;
    border: none;
  }

  &--dark {
    $color: $blue-dark;

    color: $white;
    background-color: $color;
    border-color: $color;

    &.button--invert {
      color: $color;
      background-color: transparent;
      border-color: $color;
    }

    .svg {
      fill: $blue;
    }
  }

  &--gray {
    color: $blue-dark;
    background-color: rgba($color: $gray, $alpha: 0.2);
    border-color: transparent;

    $color: $gray;

    &.button--invert {
      color: $color;
      background-color: transparent;
      border-color: $color;
    }

    .svg {
      fill: $blue;
    }
  }

  &--white {
    color: $white;
    background-color: rgba($white, $alpha: 0.5);
    border-color: transparent;

    $color: $gray;

    .svg {
      fill: $white;
    }
  }

  &--gray-dark {
    color: $white;
    background-color: $gray;
    border-color: $gray;

    $color: $gray;

    &.button--invert {
      color: $color;
      background-color: transparent;
      border-color: $color;
    }

    .svg {
      fill: $blue;
    }
  }

  &-gradient {
    padding: 1.0725em 1.7535em;
    color: $white;
    background-color: transparent;
    background-image: $gr-turq;
    background-size: auto 200%;
    border: none;
    border-color: transparent;
    box-shadow: 0 30px 15px -20px rgba($color: #1db7f5, $alpha: 0.5) !important;
    transition: background-position 0.3s;

    &:disabled {
      color: $white;
      background: none;
      background-color: $gray;
    }

    &--blue-light {
      background-image: $gr-blue-light;

      .svg {
        transform: scale(1.2);
      }
    }

    &--blue-dark {
      background-image: $gr-blue-dark;

      .svg {
        transform: scale(1.2);
      }
    }

    &--pink {
      background-image: $gr-pink;

      .svg {
        transform: scale(1.2);
      }
    }
  }

  &-play {
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
    padding: 10px;

    .svg {
      width: 24px;
      height: 24px;
      margin: 0;
      fill: currentColor;
    }
  }

  &-arrow {
    width: 20px;
    min-width: auto;
    min-width: 20px;
    height: 20px;
    min-height: 15px;
    padding: 5px;
    margin: 0;
    color: $blue-dark;
    pointer-events: all;
    background-color: transparent;
    border: none;

    .svg {
      width: 12px;
      height: 12px;
      margin: 0;
      stroke: currentColor;
      transform: rotate(-90deg);
    }

    &--prev {
      .svg {
        transform: rotate(90deg);
      }
    }

    &.swiper-button-lock {
      display: none;
    }

    &:disabled,
    &.swiper-button-disabled {
      color: $gray;
      background-color: transparent;
    }
  }

  &-icon {
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    padding: 5px;
    color: $blue-dark;
    background-color: $gray-light;
    border: none;
    border-radius: 50%;

    .svg {
      width: 30px;
      height: 30px;
      margin: 0;
    }

    &--plus {
      background-color: $blue;
    }

    &--close {
      .svg {
        width: 22px;
        height: 22px;
      }
    }

    &__plus {
      font-size: 36px;
      font-weight: 300;
      color: $white;
    }
  }

  &-tab {
    position: relative;
    z-index: 1;
    min-width: 150px;
    padding: 0.715em 15px;
    margin: 0;
    color: $blue;
    background-color: $white;
    border-radius: 20px;

    &:nth-child(even) {
      margin-left: -30px;
    }

    &:nth-child(odd) {
      margin-right: -30px;
    }

    &.active {
      z-index: 2;
      color: $white;
      background-color: $blue;

      &:nth-child(even) {
        padding-left: 15px;
        margin-left: 0;
      }

      &:nth-child(odd) {
        padding-right: 15px;
        margin-right: 0;
      }
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px 0 0;

  .button {
    width: 100%;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.tabs {
  display: flex;
  align-items: center;
  width: 100%;

  .button {
    flex-grow: 1;
  }
}

/* Inputs && Textareas */

.input__icon {
  position: absolute;
  top: 50%;
  right: 1.43em;
  z-index: 1;
  display: block;
  width: 1em;
  height: 1em;
  font-size: 14px;
  cursor: pointer;
  transform: translateY(-50%);

  + .input {
    padding-right: 3em;
  }
}

.input,
.textarea {
  padding: $input-padding-sm;
  margin: $input-margin;
  overflow: hidden;
  font-family: $input-font;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg-color;
  border-color: $input-border-color;
  border-style: solid;
  border-width: 1px;
  border-radius: $input-border-radius;
  outline: transparent;
  box-shadow: 0 4px 15px rgba(154, 167, 175, 0.15);
  transition: border 0.3s, box-shadow 0.3s;

  @include placeholder() {
    font-family: $input-font;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    line-height: $input-line-height;
    color: $input-color-placeholder;
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
  }

  &:focus {
    border-color: $gray;
    box-shadow: none;

    @include placeholder() {
      opacity: 0;
      transform: translateX(100%);
    }

    + .input__placeholder {
      span {
        font-size: 12px;
        color: $blue;
        transform: translateY(2px);
      }
    }
  }

  &:disabled {
    cursor: default;
    border-color: $input-border-color;
    box-shadow: 0 4px 15px rgba(154, 167, 175, 0.15);
    opacity: 0.7;
  }

  &:not(:placeholder-shown) {
    + .input__placeholder {
      span {
        font-size: 12px;
        color: $blue;
        transform: translateY(2px);
      }
    }
  }

  &--gray {
    background-color: $gray-light;
    border-color: transparent;
    box-shadow: none;
  }
}

.input-wrapper {
  position: relative;
  margin: 10px;

  @include max-width($touch) {
    margin: 5px;
  }

  // .input-label {
  //   margin-top: 1.125rem;
  // }
}

.input-label {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;

  .input {
    width: 100%;
    padding: 1.0725em 1.43em;
    margin: 0;
    font-family: $roboto-slab;
    border-color: transparent;

    @include placeholder() {
      color: transparent;
    }

    &:focus {
      box-shadow: 0 4px 15px rgba(154, 167, 175, 0.15);
    }
  }
}

.input__placeholder {
  order: -1;
  overflow: hidden;

  span {
    position: absolute;
    top: 0;
    left: 20px;
    display: inline-block;
    font-family: $roboto-slab;
    font-size: 14px;
    font-weight: normal;
    color: $blue-dark;
    white-space: nowrap;
    pointer-events: none;
    cursor: text;
    transition: font 0.2s ease, transform 0.2s ease, color 0.2s ease;
    transform: translateY(125%);
  }
}

.textarea {
  height: $textarea-height;
  padding: $textarea-padding-sm;
  margin: $textarea-margin;
  resize: none;
}

/* Checkboxes && Radios */
.checkbox,
.radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: $checkbox-margin;
  cursor: pointer;
  &__input {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    width: 1px;
    height: 1px;
    margin: 0;
    opacity: 0;
    transform: translate(-50%, -50%);

    &:checked + .checkbox__custom {
      background-color: $checkbox-bg-color-active;

      .checkbox__icon {
        opacity: 1;
      }
    }
  }
  &__custom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $checkbox-size;
    min-width: $checkbox-size;
    height: $checkbox-size;
    min-height: $checkbox-size;
    margin: $checkbox-custom-margin;
    background-color: $checkbox-bg-color;
    border: $checkbox-border;
    border-radius: $checkbox-border-radius;
    transition: 0.3s;
  }
  &__text {
    display: block;
    font-family: $checkbox-font;
    font-size: $checkbox-font-size;
    font-weight: $checkbox-font-weight;
    line-height: $checkbox-line-height;
    color: $checkbox-color;
  }

  &__link {
    color: $checkbox-link-color;
    text-decoration: $checkbox-link-text-decoration;
    transition: color 0.3s;
  }

  &__icon {
    width: $checkbox-icon-size;
    height: $checkbox-icon-size;
    opacity: 0;
    fill: $checkbox-icon-color-active;
    transition: 0.3s;

    &.stroke {
      fill: none;
      stroke: $checkbox-icon-color-active;
    }
  }
}

.radio {
  margin: $radio-margin;
  &__input {
    &:checked + .radio__custom {
      background-color: $radio-bg-color-active;

      &::before {
        opacity: 1;
      }

      + .radio__text {
        color: $blue;

        .radio__link {
          color: $blue-dark;
        }
      }
    }
  }

  &__custom {
    position: relative;
    width: $radio-size;
    min-width: $radio-size;
    height: $radio-size;
    min-height: $radio-size;
    margin: $radio-custom-margin;
    background-color: $radio-bg-color;
    border-radius: $radio-border-radius;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: $radio-icon-size;
      height: $radio-icon-size;
      content: '';
      background-color: $radio-icon-bg-color;
      border-radius: $radio-border-radius;
      opacity: 0;
      transition: opacity 0.3s;
      transform: translate(-50%, -50%);
    }
  }
}

.radio-switcher {
  display: flex;

  .radio {
    flex-grow: 1;
    margin: 0;
    text-align: center;

    &:not(:last-child) {
      margin-right: -30px;
    }

    &__input:checked + .radio__custom {
      z-index: 2;
      background-color: $gray-light;
    }

    &__custom {
      position: relative;
      z-index: 1;
      width: 100%;
      min-width: auto;
      height: auto;
      min-height: auto;
      padding: 0.858em 1.43em;
      margin: 0;
      font-size: 14px;
      border-radius: 20px;

      &::before {
        content: none;
      }
    }

    &__text {
      font-size: 14px;
    }
  }
}

.checkbox-feeling {
  flex-grow: 1;
  width: 100%;
  max-width: none;
  margin: 2px;

  .checkbox__input {
    &:checked + .checkbox__custom {
      background-color: $gray-light;
      filter: grayscale(0);
      opacity: 1;
    }
  }

  .checkbox__custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: auto;
    height: auto;
    min-height: auto;
    padding: 7px;
    margin: 0;
    text-align: center;
    background-color: transparent;
    filter: grayscale(1);
    border: none;
    border-radius: 6px;
    opacity: 0.5;
    transition: opacity 0.3s, background-color 0.3s, filter 0.3s;
  }

  .checkbox__img {
    display: block;
    width: 100%;
    max-width: 24px;
    object-fit: contain;
  }

  .checkbox__text {
    display: block;
    margin: 7px 0 0;
    font-family: $roboto-slab;
    font-size: 12px;
    color: $blue-dark;
  }
}

.checkbox-feel {
  width: auto;
  margin: 2px;

  .checkbox__input {
    &:checked + .checkbox__custom {
      color: $blue-dark;
      background-color: $gray-light;
    }
  }

  .checkbox__custom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-width: auto;
    height: auto;
    min-height: auto;
    padding: 0.5715em 1.2em;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: $gray-dark;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 30px;
    transition: color 0.3s, background-color 0.3s;
  }
}

.radio-music {
  margin: 3px;

  .plyr--audio {
    display: none;
  }

  .radio__input:checked + .radio__custom {
    background-color: $blue;
    border: 1px solid $blue;

    .radio__icon {
      fill: $white;
    }

    .radio__text {
      color: $white;
    }
  }

  .radio__custom {
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    margin: 0;
    background-color: $white;
    border-color: $white;
    box-shadow: none;

    &::before {
      content: none;
    }
  }

  .radio__icon {
    width: 30px;
    height: 30px;
    opacity: 1;
    fill: $blue-dark;
  }

  .radio__text {
    margin-bottom: 5px;
    font-family: $roboto-slab;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.1;
    text-align: center;

    em {
      display: block;
    }
  }
}

.radio-mood {
  margin: 5px;

  .radio__input:checked + .radio__custom {
    background-color: currentColor;
    border-color: currentColor;
    opacity: 1;
  }

  .radio__custom {
    margin: 0;
    background-color: currentColor;
    border-color: currentColor;
    opacity: 0.2;
    transition: opacity 0.3s;
  }

  .radio__icon {
    width: 25px;
    height: 25px;
    fill: $white !important;
  }

  &--red {
    color: $red;
  }
  &--orange {
    color: $orange;
  }
  &--yellow {
    color: $yellow;
  }
  &--yellow-orange {
    color: $yellow-orange;
  }
  &--yellow-green {
    color: $green-yellow;
  }
  &--green {
    color: $green;
  }
}

.checkbox-switch {
  .checkbox__input {
    &:checked + .checkbox-switch__custom-wrapper {
      background-color: rgba($bluee, 0.25);

      .checkbox-switch__custom {
        background-color: $bluee;
        transform: translateX(100%);
      }
    }
  }

  &__custom-wrapper {
    width: 40px;
    min-width: 40px;
    height: 20px;
    min-height: 20px;
    background-color: $gray-light;
    border-radius: 15px;
    transition: background-color 0.2s ease;
  }

  &__custom {
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    background-color: $bluee;
    border-radius: 50%;
    transition: transform 0.2s ease, background-color 0.2s ease;
  }
}

/* Cancel (Test) */
.cancel {
  position: relative;
  width: 18px;
  height: 18px;
  padding: 0;
  background-color: transparent;
  border: none;
  &--fixed {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
  }

  &:focus {
    .cancel__item {
      background-color: $red;
    }
  }
  &__item {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #bdbdbd;
    transition: background-color 0.3s;
    &:first-child {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:last-child {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

// Dropdown
.dropdown {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 5px;

  &.active {
    z-index: 4;

    .dropdown__button {
      border-color: $gray;
      box-shadow: none;

      .svg {
        transform: rotateX(-180deg);
      }
    }

    .dropdown__content {
      visibility: visible;
      border-color: $gray;
      box-shadow: none;
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }

  &__button {
    position: relative;
    z-index: 1;
    justify-content: space-between;
    width: 100%;
    padding: $input-padding;
    padding-right: 15px;
    margin: 0;
    font-family: $roboto;
    color: $blue-dark;
    background-color: $white;
    border-color: $gray-light;
    box-shadow: 0 4px 15px rgba(154, 167, 175, 0.15);
    transition: box-shadow 0.3s, border 0.3s, border-radius 0.3s;

    span {
      color: currentColor;
      transition: color 0.3s;
    }

    .svg {
      margin: 0 0 0 8px;
      stroke: currentColor;
      transition: color 0.3s, transform 0.3s;
    }
  }

  &__select {
    display: none;
  }

  &__content {
    position: absolute;
    top: calc(100% - 1px);
    left: 50%;
    z-index: -1;
    min-width: 100%;
    overflow: hidden;
    visibility: hidden;
    background-color: $white;
    border-color: $gray-light;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(176, 189, 191, 0.45);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s, visibility 0.3s, border 0.3s,
      border-radius 0.3s, box-shadow 0.3s;
    transform: translate(-50%, 10px);

    &--top {
      top: auto;
      bottom: calc(100% + 1px);
      transform: translate(-50%, -10px);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    .checkbox,
    .radio {
      width: 100%;
      margin: 0;

      &__input:checked + .checkbox__custom,
      &__input:checked + .radio__custom {
        background-color: $blue;

        .checkbox__text,
        .radio__text {
          color: $white;
        }

        &::before {
          content: none;
        }
      }

      &__custom {
        justify-content: flex-start;
        width: 100%;
        min-width: auto;
        height: auto;
        min-height: auto;
        padding: $input-padding;
        margin: 0;
        font-size: 14px;
        text-align: left;
        border: none;
        border-radius: 0;
      }

      &__text {
        color: $blue-dark;
      }
    }
  }
}

// datepicker
.datepicker {
  width: 100%;

  .datepicker__wrapper {
    right: auto !important;
    left: 50% !important;
    z-index: 3 !important;
    width: 290px;
    padding: 10px;
    font-family: $roboto;
    background-color: $gray-light;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba($color: $blue-dark, $alpha: 0.2) !important;
    transform: translate(-50%);
  }

  .datepicker__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin: 0 0 10px;
    background: transparent;
  }

  .datepicker__title {
    padding: 0;
    font-size: 1rem;
    font-weight: 300;
    color: $blue-dark;
    pointer-events: none;
  }

  .datepicker__prev,
  .datepicker__next {
    width: 12px;
    min-width: 12px;
    height: 12px;
    min-height: 12px;
    padding: 0;
    margin: 0;
    background: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
      stroke: $blue-dark;
      transition: stroke 0.3s;
    }
  }

  .datepicker__prev {
    svg {
      transform: rotate(90deg);
    }
  }

  .datepicker__next {
    svg {
      transform: rotate(-90deg);
    }
  }

  .datepicker__cal {
    display: flex;
    flex-direction: column;
    padding: 6px;
    background-color: $white;
    border-radius: 6px;
  }

  table tr {
    display: flex;
  }

  table th {
    font-size: 13px;
    font-weight: 500;
    line-height: 4;
    color: #7e7e7e;
    text-transform: unset;
  }

  .datepicker__day {
    margin: 2px;
    color: $black;
    border: none;
    outline: none;

    &.is-disabled,
    &.is-otherMonth {
      color: $gray-dark;
    }

    &.is-today {
      div {
        background-color: $gray-light;
      }
    }

    &.is-selected {
      div {
        background-color: $blue-dark !important;
      }

      .datepicker__daynum {
        font-weight: 500;
        color: $white;
      }
    }

    &.is-highlighted {
      div {
        background: none;
        background-color: $blue-dark;
      }
    }

    div {
      &::after {
        box-shadow: none !important;
      }
    }
  }

  .datepicker__daynum {
    font-size: 13px;
    font-weight: 500;
  }

  .datepicker__footer {
    display: flex;
    justify-content: flex-end;
  }

  .datepicker__reset {
    min-width: auto;
    padding: 0;
    padding: 3px;
    color: $gray-dark;
    background-color: transparent;
    border: none;
  }
}

// range slider
.range-slider-wrapper {
  width: 100%;
  max-width: 360px;
  padding-top: 40px;
  margin-top: 40px;

  .noUi-target {
    height: 4px;
    background: $gray-light;
    border: 1px solid $gray-light;

    .noUi-handle {
      top: -14px;
      right: -14px;
      width: 28px;
      height: 28px;
      font-size: 16px;
      cursor: pointer;
      background: $blue-dark;
      border: 1px solid $blue-dark;
      border-radius: 50%;
      outline: none;
      box-shadow: none;

      &::before,
      &::after {
        top: calc(50% - 6px);
        color: $white;
        content: '...';
        background-color: transparent;
        transform: translate(-50%, -50%) rotate(90deg);
      }

      &::before {
        left: calc(50% + 3px);
      }
      &::after {
        left: calc(50% + 8px);
      }
    }
  }

  .noUi-pips-horizontal {
    top: auto;
    bottom: 15px;
    height: 20px;
    padding: 0;
  }

  .noUi-marker {
    display: none;
  }

  .noUi-value-large {
    color: transparent !important;
  }

  .noUi-value {
    font-size: 10px;
    font-weight: bold;
    color: $gray;
    cursor: pointer;
    // transition: color 0.1s ease-in-out, transform 0.1s ease-in-out,
    //   bottom 0.1s ease-in-out;

    &:hover {
      color: $blue-dark;

      &::before {
        background: $blue-dark;
      }
    }

    &.large {
      bottom: 15px;
      color: $blue-dark;
      transform: translate(-50%, 50%) scale(2);

      &::before {
        transform: translate(-50%, -10px) scale(0.5);
      }
    }

    &.medium {
      bottom: 10px;
      color: $blue-dark;
      transform: translate(-50%, 50%) scale(1.4);

      &::before {
        transform: translate(-50%, -7px);
      }
    }

    &::before {
      position: absolute;
      top: calc(100% + 15px);
      left: 50%;
      width: 8px;
      height: 8px;
      content: '';
      background-color: $gray;
      border-radius: 50%;
      transform: translate(-50%, 0);
    }
  }
}
