.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75px;

  @include max-width($tablet) {
    margin-top: 40px;
  }
}

.pagination {
  display: inline-flex;
  align-items: center;

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    min-width: 48px;
    height: 48px;
    min-height: 48px;
    padding: 0.5em;
    margin: 8px;
    font-size: 1.125rem;
    font-weight: bold;
    color: $gray;
    text-align: center;
    border: 2px solid rgba($color: #afafaf, $alpha: 0.2);
    border-radius: 6px;
    transition: color 0.3s, border 0.3s;

    @include max-width($phone) {
      width: 36px;
      min-width: 36px;
      height: 36px;
      min-height: 36px;
      margin: 4px;
    }

    &:hover {
      color: $blue;
      border: 2px solid rgba($color: $blue, $alpha: 0.2);

      .pagination__arrow {
        fill: $black;
      }
    }

    &.selected {
      color: $black;
    }

    &--prev,
    &--next {
      border: none;

      &:hover {
        border: none;
      }
    }

    &--prev {
      .pagination__arrow {
        transform: rotate(180deg);
      }
    }
  }

  &__arrow {
    display: flex;
    width: 100%;
    max-width: 28px;
    height: 15px;
    fill: $blue;
    transition: fill 0.3s;
  }
}
