<!-- date -->
<div class="date-wrapper">
  <div class="date-wrap">
    <button
      disabled
      class="button button-arrow button-arrow--prev"
      type="button"
    >
      <svg class="svg">
        <use xlink:href="#arrow"></use>
      </svg>
    </button>

    <time class="date j_datepicker">
      21.03
    </time>

    <button class="button button-arrow button-arrow--next" type="button">
      <svg class="svg">
        <use xlink:href="#arrow"></use>
      </svg>
    </button>
  </div>
</div>
<!-- ./ End of date -->
