<!-- header -->
<header class="header">
  <div class="header__bg-wrapper">
    <img
      src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg"
      alt=""
      class="header__bg"
    />
  </div>

  <div class="container">
    <!-- wrap -->
    <div class="header-wrap">
      <div class="header-left">
        <img src="../../img/header_img.svg" alt="" class="header__img" />
        <div class="header-left__wrap">
          <h1 class="header__title">
            Медитация
          </h1>
          <p class="header__text">
            От 3 минут
          </p>
        </div>
      </div>
      <div class="header-right">
        <a href="#" class="button button-icon button-icon--close">
          <svg class="svg">
            <use xlink:href="#close"></use>
          </svg>
        </a>
      </div>
    </div>
    <!-- ./ End of wrap -->
  </div>
</header>
<!-- ./ End of header -->
