<div class="meditation-range-slider mood-today">
  <div class="mood-today__wrap">
    <a href="#" class="mood-today__link mood-today__link--prev">
      <svg class="svg">
        <use xlink:href="#arrow"></use>
      </svg>

      <time> 28.03 </time>
    </a>

    <div class="mood-today__inner">
      <div class="mood-stat__assessment mood-stat__assessment--red">
        <svg class="svg">
          <use xlink:href="#mood_red"></use>
        </svg>
      </div>

      <span class="mood-stat__title">
        Настроение <br />
        сегодня
      </span>
    </div>

    <a
      href="#"
      class="mood-today__link mood-today__link--next mood-today__link--disabled"
    >
      <svg class="svg">
        <use xlink:href="#arrow"></use>
      </svg>

      <time> 29.03 </time>
    </a>
  </div>
</div>
