<!-- nav-bar -->
<nav class="nav-bar">
  <a href="../../index.html" class="nav-bar-link">
    <div class="nav-bar-link__icon-wrapper">
      <svg class="nav-bar-link__icon">
        <use xlink:href="#nav-tasks"></use>
      </svg>
      <em class="nav-bar-link__count">9</em>
    </div>
    <span class="nav-bar-link__name">
      Задачи
    </span>
  </a>
  <a href="../../mood.html" class="nav-bar-link">
    <div class="nav-bar-link__icon-wrapper">
      <svg class="nav-bar-link__icon">
        <use xlink:href="#nav-emotions"></use>
      </svg>
    </div>
    <span class="nav-bar-link__name">
      Оценка
    </span>
  </a>
  <a href="../../events.html" class="nav-bar-link active">
    <div class="nav-bar-link__icon-wrapper">
      <svg class="nav-bar-link__icon">
        <use xlink:href="#nav-events"></use>
      </svg>

      <em class="nav-bar-link__count">2</em>
    </div>
    <span class="nav-bar-link__name">
      События
    </span>
  </a>
  <a href="../../results.html" class="nav-bar-link">
    <div class="nav-bar-link__icon-wrapper">
      <svg class="nav-bar-link__icon">
        <use xlink:href="#nav-results"></use>
      </svg>
    </div>
    <span class="nav-bar-link__name">
      Результат
    </span>
  </a>
  <a href="#" class="nav-bar-link">
    <div class="nav-bar-link__icon-wrapper">
      <svg class="nav-bar-link__icon">
        <use xlink:href="#nav-more"></use>
      </svg>
    </div>
    <span class="nav-bar-link__name">
      Больше
    </span>
  </a>
</nav>
<!-- ./ End of nav-bar -->
