<div class="meditation-range-slider">
  <div class="meditation-range-slider__header">
    <span class="meditation-range-slider__title">
      Напомнить в
      <em class="j_meditation-range-time">12:00</em>
    </span>
    <label class="checkbox checkbox-switch">
      <input class="checkbox__input" type="checkbox" />
      <div class="checkbox-switch__custom-wrapper">
        <div class="checkbox-switch__custom"> </div>
      </div>
    </label>
  </div>
  <div
    data-step="5"
    data-min="0"
    data-max="1440"
    data-start="720"
    class="meditation-range-slider__wrap j_meditation-range"
  >
  </div>

  <div class="meditation-range-slider__footer">
    <img
      src="../../img/meditation-range1.svg"
      alt=""
      class="meditation-range-slider__img"
    />
    <img
      src="../../img/meditation-range2.svg"
      alt=""
      class="meditation-range-slider__img"
    />
    <img
      src="../../img/meditation-range3.svg"
      alt=""
      class="meditation-range-slider__img"
    />
  </div>
</div>
